{{ partial "header" . }}

  <main class="content">
      <div>
        <h1 class="error-page-title">404</h1>
      </div>
      <div class="error-page-content">
        {{ i18n "errorMessage" }}
        <div>
          <a href="{{ .Site.BaseURL }}">
          ↑</a>
        </div> 
      </div>     
  </main>

{{ partial "footer" . }}

  
