{{ partial "header.html" . }}

<main class="content">

  <div class="list">
     {{ range (.Paginate ((where .Site.RegularPages "Type" "post").GroupByDate "2006")).PageGroups }}
  <h2 class="list-title">{{ .Key }}</h2>
    {{ range .Pages }}
    
    {{ partial "list-item.html" . }}

    {{ end }}
    {{ end }}
  </div>  

  {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}
