      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink }}" type="application/rss+xml" target="_blank">{{ i18n "footerRSS" }}</a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}tags">Tags</a>
          </li>
        </ul>
      </footer>

    </div>

  </body>
</html>
