<nav class="nav">
  <a href="{{ .Site.BaseURL }}" style="float: left; margin-top: -25px;">
    <h2>Kai Lüke</h2>
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
